<%= form_for(doctor_unavailability) do |f| %>
  <% if doctor_unavailability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor_unavailability.errors.count, "error") %> prohibited this doctor_unavailability from being saved:</h2>

      <ul>
      <% doctor_unavailability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date %>
  </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
